.save-playlist-modal-container {
  position: fixed;
  left: 0rem;
  top: 0rem;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  text-align: center;
}

.save-playlist-modal {
  margin-left: 41%;
  margin-top: 20%;
  width: 16rem;
  height: 7rem;
  background-color: mediumpurple;
}

.playlist-name-input {
  padding-top: 1.5rem;
}

.save-playlist-button {
  margin-top: 1rem;
  margin-right: 1rem;
}

.cancel-button {

}

.save-playlist-error {
  color: red;
}