.now-playing-container {
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  width: 100vw;
  background-color: mediumpurple;
  text-align: left;
}

.now-playing {
  margin-left: 26%;
}

.skip-button {
  margin: 1rem;
}