.track-queue {
  text-align: left;
  margin-left: 33%;
  margin-top: 1rem;
}

.track-queue-header {
  height: 4rem;
}

.queue-duration {
  margin-left: 18%;
  font-size: 0.8rem;
}

.up-next {
  margin-left: 21.7%;
}

.hide-element {
  display: none;
}

.up-next-tracks {
  float: left;
}