.track-queue {
  flex-basis: 128%;
  text-align: left;
  padding-bottom: 3rem;
}

.track-queue-header {
  text-align: center;
}

.up-next-title {

}

.track {
  display: flex;
  margin-bottom: 0.1rem;
}

.track-name {
  flex-basis: 100%;
}

.remove-track-button {
  flex-basis: 15%;
  margin-right: 1rem;
  height: 1.2rem;
}