.track-queue {
  text-align: left;
  float: left;
  max-width: 36%;
}

.track-queue-header {

}

.queue-duration {
  margin-left: 18%;
  font-size: 0.8rem;
}

.up-next {
  margin-left: 21.7%;
}

.up-next-tracks {

}