.track-queue {
  text-align: left;
  margin-left: 33%;
  margin-top: 1rem;
}

.track-queue-header {
  height: 4rem;
}

.start-button {
  margin-left: 23%;
}

.skip-button {
  margin-right: 1rem;
}

.now-playing {

}

.up-next {
  margin-left: 21.7%;
}

.hide-element {
  display: none;
}