.track-queue {
  text-align: left;
  margin-left: 33%;
  margin-top: 1rem;
}

.track-queue-header {
  height: 4rem;
}

.start-button {
  margin-left: 18%;
}

.skip-button {
  margin-right: 1rem;
}

.now-playing {

}

.queue-duration {
  margin-left: 18%;
  font-size: 0.8rem;
}

.up-next {
  margin-left: 21.7%;
}

.hide-element {
  display: none;
}